<div class="container-fluid footer mt-5">
    <div class="row">

        <div class="col-lg-6 mt-2 mb-2">
            <h1>Codekitchenweb</h1>
            <p>GOOD FOOD, GOOD EAT </p>
        </div>
        <div class="col lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <div class="col-lg-2 mt-2 mb-2">
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>

    </div>
</div>
