<div class="container mt-5 mb-5">

     <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, nemo quas ad repellendus omnis cum libero voluptate quis soluta numquam quo tempora aliquid minima blanditiis quod hic odio consequuntur ex?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum officia totam quas, consequuntur vero facere, consectetur repellendus vitae dolor, quos illum itaque blanditiis ex dignissimos eveniet! Placeat culpa recusandae voluptate.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum incidunt perferendis numquam eveniet beatae quod quae, earum rem nam veritatis at id quo quia. Beatae ut doloremque ullam! Quia, ducimus!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quasi molestiae animi obcaecati eum laborum iste placeat nesciunt quibusdam provident beatae, accusamus, dignissimos repellendus hic, voluptas et maxime quas maiores!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident assumenda eum illum reprehenderit modi eveniet dignissimos quo sequi! Fuga facere nemo qui laudantium animi natus eius pariatur dolorem assumenda debitis.
        <br/>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, dolor eveniet. Velit, rerum quis. Mollitia quia nam minima itaque laborum expedita odit velit eius eum impedit, voluptas animi obcaecati quidem.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam quia officiis qui rem quaerat harum eius, error nihil ratione non animi optio facilis est totam consequuntur cumque? Consectetur, qui quae.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia saepe voluptatibus incidunt perferendis excepturi iusto odio libero fugit aut necessitatibus nulla ipsa aliquid voluptatum quasi quis ratione, itaque eligendi accusantium!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, maxime. Quae officia, quia autem est et error culpa placeat nemo cupiditate assumenda tenetur deleniti provident facere esse unde nulla non.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe quod eveniet esse, soluta fuga! Vel repellendus omnis excepturi! Autem reiciendis accusamus maxime quis sequi distinctio sed nemo excepturi temporibus!
        <br/>
    </p>

</div>
