<div class="container">
  <div class="row">
     <div class="col-md-6">
         <div class="card">
             <div class="text-center">
                 <h1>Restaurent Signup</h1>
                 <h5>Get Free Membership</h5><hr>
             </div>
             <form [formGroup]="signupForm" (ngSubmit)="signUp()">
               <div class="mb-3">
                 <label class="form-label">Name</label>
                 <input formControlName="name" placeholder="Enter Name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
               </div>
               <div class="mb-3">
                <label class="form-label">Mobile Numberl</label>
                <input formControlName="mobile" placeholder="Enter Mobile No" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input formControlName="email" placeholder="Enter Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
               <div class="mb-3">
                 <label class="form-label">Password</label>
                 <input formControlName="password" placeholder="Enter Password" type="password" class="form-control" id="exampleInputPassword1">
               </div>
               <button type="submit" class="btn btn-primary">Signup</button>
             </form>
             <a routerLink="/login"> Already Member ? Click to login !</a>
         </div>
     </div>
  </div>
</div>

